
body{
    background-color: rgb(122, 200, 255);
}

#message-sec{

height: max-content !important;
width: max-content !important;
display: flex !important;
flex-direction: column;
background-color: white;
justify-content: center;
align-items: center;
gap: 2cm;

  @media screen and (min-width: 720px) and (max-width: 1080px) {
      grid-template-columns: 35% 65%;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
      grid-template-columns: 40% 65%;
}
@media screen and (min-width: 480px) and (max-width: 720px) {
    grid-template-columns: 45% 55%;
}
}



.page{
    height: 99vh;
    width: 98vw;
    background-color: whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 75%;
}